* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#cursor{
  height: 25px;
  width: 25px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}
#cursor-blur{
  height: 250px;
  width: 250px;
  background-color: #96c11e39;
  border-radius: 50%;
  position: fixed;
  filter: blur(50px);
  z-index: 9;
}
#nav {
  height: 120px;
  width: 100%;
  /* background-color: rgb(214, 225, 0); */
  display: flex;
  align-items: center;
  padding: 0 120px;
  gap: 42px;
  position: fixed;
  justify-content: flex-start;
  z-index: 999;
}
#nav img {
  height: 1.8vw;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 200;
  cursor: pointer;
  font-size: 16px;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.39);
}
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 #arrow{
  height: 150px;
  width: 150px;
  background-color:transparent;
  border: 2px solid #95c11e;
  position: absolute;
  display: flex;
  left: 2%;
  bottom: 1%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}
#page1 #arrow i{
  font-size: 50px;
  font-weight: 100;
}
#page1 #arrow:hover{
  scale: 0.5;
  background-color: #95c11e;
}
#page1 h1 {
  font-size: 7.5vw;
  font-weight: 700;
  position: relative;
}
#page1 h1::before {
  content: "SKY MASTERS";
  position: absolute;
  color: #000;
  top: -2px;
  left: -2px;
  -webkit-text-stroke: 1.5px #95c11e;
  z-index: -1;
}
#page1 h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
#page1 p {
  font-size: 1.2vw;
  font-weight: 500;
  width: 29%;
}
#page2 {
  min-height: 130vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  /* background-color: rgb(20, 20, 20); */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}

#scroller::-webkit-scrollbar{
  display: none;
}

#scroller-in{
  display: inline-block;
  white-space: nowrap;
  animation: scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#scroller h4{
  display: inline-block;
  font-size: 110px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
  transition: all linear 0.5s;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}
#scroller h4:hover{
  color: #c1ff08;
  -webkit-text-stroke: 2px #c1ff08;
}

@keyframes scroll{
  from{
    transform: translateX(0);

  }
  to{
    transform: translateX(-100%);
  }
}

#about-us{
  height: 40vh;
  width:100%;
  /* background-color: #95c11e; */
  display: flex;
  padding: 0 40px;
  align-items: center;
  position: relative;
  justify-content: space-around;
  z-index: 10;
  
}
#about-us img{
  height: 250px;
  width: 250px;
  border-radius: 12px;
  object-fit: cover;

}

#about-us-in{
  width: 50%;
  text-align: center;
  
}
#about-us-in h3{
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}
#about-us-in p{
  font-size: 20px;
  line-height: 30px;
  color: #6a6a6a;
}
#cards-container{
  /* background-color: #95c11e; */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}

.card{
  height: 80%;
  width: 24%;
  /* background-color: rgb(0, 59, 8); */
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  overflow: hidden;
  transition: all ease 0.6s;
}

#card1{
  background-image: url(https://www1.djicdn.com/cms/uploads/add9aa1ceef194bd5774249c6e88983b.webp);

}
#card2{
  background-image: url(https://www1.djicdn.com/cms/uploads/698fb861951da3f2fd736a6c867217b1.webp);
}
#card3{
  background-image: url(https://www1.djicdn.com/cms/uploads/3a800890a9e26382f74908783cd653b9.webp);
}
.overlay{
  height: 100%;
  width: 100%;
  background-color: #c1ff08;
  padding: 30px;
  padding-top: 120px;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4{
  color: #000000;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 5px;
  }
.overlay p{
  color: #000000;
  padding-top: 18px;
  font-size: 18px;
  }

  .card:hover .overlay{
    opacity: 1;
    /* transition-duration: 1000ms; */
  }
  .card:hover{
    transform: rotate3d(-1,1,0, 20deg);
  }
  #green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    margin-top: 150px;
    background: linear-gradient(to left bottom,#c1ff08, rgb(1, 197, 1));
  }
  #green-div h4{
    width:45%;
    line-height: 50px;
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
  }
  #green-div img{
    height: 100%;
    object-fit: cover;
    width: 12%;
  
  }
  
  #page3{
    height: 100vh;
    width: 100%;
    /* background-color: #bc4646; */
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    
  }
  #page3>p{
    width: 60%;
    line-height: 48px;
    text-align: center;
    color: #888888;
    font-weight: 400;
    font-size: 28px;
    justify-content: center;
    /* padding-left: 80px; */
    margin-top: -150px;
  }
  #page3 img{
    height: 380px;
    width: 350px;
    object-fit: cover;
    position: absolute;
    left: -40px;
    bottom: 350px;
    rotate: 15deg;
  }

  #page4{
    height: 50vh;
    width: 100%;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
    position: relative;
  }
  
  .elem{
    height: 50%;
    width: 26%;
    overflow: hidden;
    border-radius: 14px;
    position: relative;

  }
  
  .elem h2{
    height: 100%;
    width: 100%;
    background-color: #000000a3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
  }
  .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
  }

  .elem:hover h2{
    color: #fff;
    background-color: transparent;

  }
  .elem:hover img{
    scale: 1;
  }
#page4 h1{
  display: flex;
  font-size: 112px;
  position: absolute;
  top: 0%;
  font-weight: 800;
  color: #000;
  -webkit-text-stroke: 2px white;
  
}

#footer{
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119F3A,#c1ff08);
  margin-top: 60px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  gap: 150px;
  padding: 0 100px;
}
#footer > img{
  height: 100%;
  width: 54px;
  left: 20px;
  position: relative;
  z-index: 0;
  
}
#f1,#f2,#f3{
  /* width: fit-content; */
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f1 h3{
  font-size: 22px;
  white-space: nowrap;
  display: flex;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 80px;


}
#f2 h3{
  font-size: 18px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 80px;
  
}
#f3 h3{
  font-size: 16px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 80px;
 
}